iframe {
  margin-left: 100px;
  margin-top: 150px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.top-right {
  margin-left: 1000px;
}

.top-middle {
  margin-left: 400px;
}

.left-bottom {
  margin-top: 150px;
  margin-left: 50px;
}

.middle-bottom {
  margin-top: 150px;
  margin-left: 560px;
}

.right-bottom {
  margin-top: 345px;
  margin-left: -250px;
}

.top-left{

  
}