iframe{
    margin-left: 100px;
    margin-top: 150px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-image: url(https://images4.alphacoders.com/594/thumb-1920-594600.jpg);
   }

.piet{
  margin-left: 1000px;
  
}

.jan{
  margin-left: 400px;
  
}

.gerrit{
  margin-top: 150px;
  margin-left: 50px;
  
}

.kees{
  margin-top: 150px;
  margin-left: 560px;
  
}

.henk{
  margin-top: 345px;
  margin-left: -250px;
  
}

