@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.text {
   grid-column-start: 4;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 1;
   font-size: 120%;
   font-family: 'Anonymous Pro';
   margin-left: -50px;
   color: rgba(255, 255, 255, .75);
}


.text2 {
   grid-column-start: 4;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 1;
   font-size: 120%;
   padding: 25px;
   font-family: 'Anonymous Pro';
   color: rgba(255, 255, 255, .75);
   border-bottom: thick solid rgba(255, 255, 255, .75);
   border-top: thin solid rgba(255, 255, 255, .75);
}

.text3 {
   grid-column-start: 4;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 1;
   margin-top: -20px;
   font-family: 'Anonymous Pro';
   color: rgba(255, 255, 255, .75);
   margin-left: 25px;
}

.photo {
   background-image: url(..\img\adje.png);
   margin-left: 875px;
   margin-top: 115px;
}