@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.text {
   grid-column-start: 5;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 9;
   font-size: 120%;
   font-family: 'Anonymous Pro';
}

.image {
   grid-column-start: 5;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 9;
}